body {
  background-color: black;
  padding-left: 50px;
  font-family: 'Roboto', sans-serif;

}

h1 {
  color: white;
  font-size: 20px;
  margin-bottom: 24px;
}

.moviesList {
  display: flex;
  height: 125px;
  margin-bottom: 44px;
  overflow-x: scroll;
}

.moviesList::-webkit-scrollbar {
  display: none;
}

.logo {
  height: 105px;
  width: 110px
}

.movie {
  width: 220px;
  flex-shrink: 0;
}
